<h3>
    Desktop Integrations in Electron using Shell Module
   </h3>
   <button id="external">
    Open GeeksForGeeks.org in Default Browser
   </button>
    
   <br><br>
   <button id="mail">
    Open GeeksForGeeks in Default Mail
   </button>
   <script src="./index.js"></script>